@page
@model RealMadridStore.Pages.CartModel
@{
}

<h2>@Model.Name Cart Products</h2>


@if (Model.Products == null)
{
    <p>There is no products...</p>
}
else
{
    string[] products = Model.Products.Split(",");
    <ul>
        @foreach (var product in products)
        {
            <li>
                @product
            </li>
            
        }
        </ul>
}

