@model RealMadridStore.Models.ViewModel.LoginVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Login";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<form method="post" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="@ValidationSummary.ModelOnly"></div>

    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <input type="submit" value="Login" />
    </div>
</form>
<a asp-action="Register" asp-controller="Account">Register a new account</a>
